<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.agora.vlive">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".AgoraLiveApplication"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.agora.vlive.AgoraLiveApplication"
            android:value="io.agora.vlive.AgoraLiveApplication"
            />

        <activity android:name=".ui.activity.ZhuBoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".ui.activity.ZhuBoActivity2"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".ui.activity.GuanZhongActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.activity.GuanZhongActivity2"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.activity.LivePrepareActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:keepScreenOn="true"/>

        <activity android:name=".ui.profile.ModifyUserNameActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".ui.profile.AboutActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".ui.profile.PrivacyActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".ui.profile.DisclaimerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

    </application>
</manifest>
